<#macro layout>
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>H+ 后台主题UI框架 - Bootstrap Table</title>
<meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
<meta name="description"
	content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

<link rel="shortcut icon" href="favicon.ico">
<link href="${contextPath}/static/css/bootstrap.min14ed.css?v=3.3.6"
	rel="stylesheet">
<!-- <link href="${contextPath}/static/css/bootstrap.min.css?v=3.3.6"
	rel="stylesheet"> -->
<link href="${contextPath}/static/css/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link
	href="${contextPath}/static/css/plugins/bootstrap-table/bootstrap-table.min.css"
	rel="stylesheet">
<link href="${contextPath}/static/css/animate.min.css" rel="stylesheet">
<link href="${contextPath}/static/css/style.min862f.css?v=4.1.0"
	rel="stylesheet">

<!-- Sweet Alert -->
<link href="${contextPath}/static/css/plugins/sweetalert/sweetalert.css"
	rel="stylesheet">

<link href="${contextPath}/static/css/plugins/toastr/toastr.min.css"
	rel="stylesheet">

</head>
















<body class="gray-bg">
	<!-- script-->
	<script src="${contextPath}/static/js/jquery.min.js?v=2.1.4"></script>
	<script src="${contextPath}/static/js/bootstrap.min.js?v=3.3.6"></script>

	<script src="${contextPath}/static/js/content.min.js?v=1.0.0"></script>

	<script
		src="${contextPath}/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
	<script
		src="${contextPath}/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
	<script
		src="${contextPath}/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="${contextPath}/static/js/demo/bootstrap-table-demo.min.js"></script>


	<script
		src="${contextPath}/static/js/plugins/sweetalert/sweetalert.min.js"></script>

	<script src="${contextPath}/static/js/plugins/toastr/toastr.min.js"></script>

	<script
		src="${contextPath}/static/js/plugins/validate/jquery.validate.min.js"></script>
	<script
		src="${contextPath}/static/js/plugins/validate/messages_zh.min.js"></script>
	<script src="${contextPath}/static/js/demo/form-validate-demo.min.js"></script>
	<!-- script-->


	<div class="wrapper wrapper-content animated fadeInRight">
		<#nested></div>






</body>
</html>
</#macro>
